<a href="https://colab.research.google.com/github/gandalf1819/SF-Opioid-Crisis/blob/master/SF_drug_xgboost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import sys,os
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline
sns.set()

In [4]:
d_crime = pd.read_csv("/content/gdrive/My Drive/SF dataset/Police_Department_Incident_Reports__Historical_2003_to_May_2018.csv")
d_crime.columns

Index(['IncidntNum', 'Category', 'Descript', 'DayOfWeek', 'Date', 'Time',
       'PdDistrict', 'Resolution', 'Address', 'X', 'Y', 'Location', 'PdId'],
      dtype='object')

In [0]:
np.random.seed(100)
random_d_crime=d_crime.sample(2215024)
train_size=int(0.67 *2215024)
train_df=random_d_crime[:train_size]
test_df=random_d_crime[train_size:]

In [6]:
train_df.columns

Index(['IncidntNum', 'Category', 'Descript', 'DayOfWeek', 'Date', 'Time',
       'PdDistrict', 'Resolution', 'Address', 'X', 'Y', 'Location', 'PdId'],
      dtype='object')

In [7]:
test_df.columns

Index(['IncidntNum', 'Category', 'Descript', 'DayOfWeek', 'Date', 'Time',
       'PdDistrict', 'Resolution', 'Address', 'X', 'Y', 'Location', 'PdId'],
      dtype='object')

In [8]:
test_df['Id'] = test_df.index

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
train_df=train_df.drop(['IncidntNum', 'PdId', 'Location'], axis=1)

In [10]:
train_df.sample(5)

               Category                      Descript  ...           X          Y
1987620  SUSPICIOUS OCC       INVESTIGATIVE DETENTION  ... -122.406022  37.788649
892776   OTHER OFFENSES              RESISTING ARREST  ... -122.407018  37.797823
187188         BURGLARY      BURGLARY, FORCIBLE ENTRY  ... -122.404828  37.789760
24997    OTHER OFFENSES              RESISTING ARREST  ... -122.380820  37.726365
669340    LARCENY/THEFT  GRAND THEFT FROM LOCKED AUTO  ... -122.396648  37.791740

[5 rows x 10 columns]

In [0]:
test_df=test_df.drop(['IncidntNum', 'PdId', 'Location'], axis=1)

In [12]:
test_df.sample(5)

               Category  ...       Id
94105    OTHER OFFENSES  ...    94105
1512870   DRUG/NARCOTIC  ...  1512870
497923   OTHER OFFENSES  ...   497923
188903         BURGLARY  ...   188903
1451444        BURGLARY  ...  1451444

[5 rows x 11 columns]

In [13]:
train_df.columns

Index(['Category', 'Descript', 'DayOfWeek', 'Date', 'Time', 'PdDistrict',
       'Resolution', 'Address', 'X', 'Y'],
      dtype='object')

**Convert 'Date' and 'Time' columns to 'DateTime' columns to identify crimes across different times of the day**

In [0]:
train_df['DateTime'] = train_df.Date + " " + train_df.Time
train_df['DateTime'] = pd.to_datetime(train_df['DateTime'], format='%m/%d/%Y %H:%M')

test_df['DateTime'] = test_df.Date + " " + test_df.Time
test_df['DateTime'] = pd.to_datetime(test_df['DateTime'], format='%m/%d/%Y %H:%M')

In [0]:
train_df = train_df.drop(['Date', 'Time'], axis=1)
test_df = test_df.drop(['Date', 'Time'], axis=1)

Develop a feature **'IsDay'** to identify whether the crime was committed during day or night

In [16]:
train_df['IsDay'] = 0
train_df.loc[ (train_df.DateTime.dt.hour > 6) & (train_df.DateTime.dt.hour < 20), 'IsDay' ] = 1
test_df['IsDay'] = 0
test_df.loc[ (test_df.DateTime.dt.hour > 6) & (test_df.DateTime.dt.hour < 20), 'IsDay' ] = 1

train_df.sample(3)

         Category  ... IsDay
1436649  WARRANTS  ...     1
1508667  WARRANTS  ...     1
1976663   ASSAULT  ...     0

[3 rows x 10 columns]


Create **'Month'**, **'Year'** and **'DayOfWeekInt'** columns


Map 'DayOfWeek' to Integer

In [17]:
days_to_int_dic = {
        'Monday': 1,
        'Tuesday': 2,
        'Wednesday': 3,
        'Thursday': 4,
        'Friday': 5,
        'Saturday': 6,
        'Sunday': 7,
}
train_df['DayOfWeek'] = train_df['DayOfWeek'].map(days_to_int_dic)
test_df ['DayOfWeek'] = test_df ['DayOfWeek'].map(days_to_int_dic)

train_df.DayOfWeek.unique()

array([5, 6, 7, 3, 1, 2, 4])

Create Hour, Month and Year Columns

In [18]:
train_df['Hour'] = train_df.DateTime.dt.hour
train_df['Month'] = train_df.DateTime.dt.month
train_df['Year'] = train_df.DateTime.dt.year
train_df['Year'] = train_df['Year'] - 2000 # The Algorithm doesn't know the difference

test_df['Hour'] = test_df.DateTime.dt.hour
test_df['Month'] = test_df.DateTime.dt.month
test_df['Year'] = test_df.DateTime.dt.year
test_df['Year'] = test_df['Year'] - 2000 # The Algorithm doesn't know the difference

train_df.sample(1)

              Category          Descript  DayOfWeek  ... Hour Month Year
714500  OTHER OFFENSES  PAROLE VIOLATION          5  ...   17     6   12

[1 rows x 13 columns]


Deal with the cyclic characteristic of Months and Days of Week

In [19]:
train_df['HourCos'] = np.cos((train_df['Hour']*2*np.pi)/24 )
train_df['DayOfWeekCos'] = np.cos((train_df['DayOfWeek']*2*np.pi)/7 )
train_df['MonthCos'] = np.cos((train_df['Month']*2*np.pi)/12 )

test_df['HourCos'] = np.cos((test_df['Hour']*2*np.pi)/24 )
test_df['DayOfWeekCos'] = np.cos((test_df['DayOfWeek']*2*np.pi)/7 )
test_df['MonthCos'] = np.cos((test_df['Month']*2*np.pi)/12 )

train_df.sample(1)

             Category  ... MonthCos
751684  DRUG/NARCOTIC  ...      0.5

[1 rows x 16 columns]


Dummy Encoding of 'PdDistrict'

In [20]:
train_df = pd.get_dummies(train_df, columns=['PdDistrict'])
test_df  = pd.get_dummies(test_df,  columns=['PdDistrict'])
train_df.sample(2)

                       Category  ... PdDistrict_TENDERLOIN
1766593  FORGERY/COUNTERFEITING  ...                     0
1796478          SUSPICIOUS OCC  ...                     0

[2 rows x 25 columns]

Label Encoding of **'Category'**

In [21]:
from sklearn.preprocessing import LabelEncoder

cat_le = LabelEncoder()
train_df['CategoryInt'] = pd.Series(cat_le.fit_transform(train_df.Category))
train_df.sample(5)

              Category  ... CategoryInt
1638162   NON-CRIMINAL  ...         NaN
1911474      VANDALISM  ...         NaN
256130   DRUG/NARCOTIC  ...        16.0
1491366       BURGLARY  ...         NaN
2010495  LARCENY/THEFT  ...         NaN

[5 rows x 26 columns]

In [0]:
train_df['InIntersection'] = 1
train_df.loc[train_df.Address.str.contains('Block'), 'InIntersection'] = 0

test_df['InIntersection'] = 1
test_df.loc[test_df.Address.str.contains('Block'), 'InIntersection'] = 0

In [23]:
train_df.sample(10)

               Category  ... InIntersection
122704    DRUG/NARCOTIC  ...              0
1157645   VEHICLE THEFT  ...              0
726120         WARRANTS  ...              0
2118978  OTHER OFFENSES  ...              1
1214220  OTHER OFFENSES  ...              1
1479990   VEHICLE THEFT  ...              1
1738608   LARCENY/THEFT  ...              1
1246293   DRUG/NARCOTIC  ...              0
2062811  OTHER OFFENSES  ...              0
1293057   LARCENY/THEFT  ...              0

[10 rows x 27 columns]

### **Feature Selection**

In [24]:
train_df.columns

Index(['Category', 'Descript', 'DayOfWeek', 'Resolution', 'Address', 'X', 'Y',
       'DateTime', 'IsDay', 'Hour', 'Month', 'Year', 'HourCos', 'DayOfWeekCos',
       'MonthCos', 'PdDistrict_BAYVIEW', 'PdDistrict_CENTRAL',
       'PdDistrict_INGLESIDE', 'PdDistrict_MISSION', 'PdDistrict_NORTHERN',
       'PdDistrict_PARK', 'PdDistrict_RICHMOND', 'PdDistrict_SOUTHERN',
       'PdDistrict_TARAVAL', 'PdDistrict_TENDERLOIN', 'CategoryInt',
       'InIntersection'],
      dtype='object')

In [0]:
feature_cols = ['X', 'Y', 'IsDay', 'DayOfWeek', 'Month', 'Hour', 'Year', 'InIntersection',
                'PdDistrict_BAYVIEW', 'PdDistrict_CENTRAL', 'PdDistrict_INGLESIDE',
                'PdDistrict_MISSION', 'PdDistrict_NORTHERN', 'PdDistrict_PARK',
                'PdDistrict_RICHMOND', 'PdDistrict_SOUTHERN', 'PdDistrict_TARAVAL', 'PdDistrict_TENDERLOIN']
target_col = 'CategoryInt'

train_x = train_df[feature_cols]
train_y = train_df[target_col]

test_ids = test_df['Id']
test_x = test_df[feature_cols]

In [26]:
train_x.sample(1)

                  X          Y  ...  PdDistrict_TARAVAL  PdDistrict_TENDERLOIN
1220347 -122.432915  37.784353  ...                   0                      0

[1 rows x 18 columns]

In [27]:
test_x.sample(1)

                  X          Y  ...  PdDistrict_TARAVAL  PdDistrict_TENDERLOIN
1814716 -122.427966  37.711582  ...                   0                      0

[1 rows x 18 columns]

#### **XGBOOST Training (Cross-Validation)**

In [28]:
type(train_x), type(train_y)

(pandas.core.frame.DataFrame, pandas.core.series.Series)

Import XGBoost and create the DMatrices

In [29]:
import xgboost as xgb
train_xgb = xgb.DMatrix(train_x, label=train_y)
test_xgb  = xgb.DMatrix(test_x)

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/usr/local/lib/python3.6/dist-packages/xgboost/core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

Perform Cross-Validation

In [0]:
params = {
    'max_depth': 4,  # the maximum depth of each tree
    'eta': 0.3,  # the training step for each iteration
    'silent': 1,  # logging mode - quiet
    'objective': 'multi:softprob',  # error evaluation for multiclass training
    'num_class': 39,
}

In [0]:
CROSS_VAL = False
if CROSS_VAL:
    print('Doing Cross-validation ...')
    cv = xgb.cv(params, train_xgb, nfold=3, early_stopping_rounds=10, metrics='mlogloss', verbose_eval=True)
    cv


Fit the model and make the predictions

In [34]:
SUBMIT = not CROSS_VAL
if SUBMIT:
    print('Fitting Model ...')
    m = xgb.train(params, train_xgb, 10)
    res = m.predict(test_xgb)
    cols = ['Id'] + cat_le.classes_
    submission = pd.DataFrame(res, columns=cat_le.classes_)
    submission.insert(0, 'Id', test_ids)
    submission.to_csv('submission.csv', index=False)
    print('Done Outputing !')
    submission.head()
else:
    print('NOT SUBMITING')

Fitting Model ...
Done Outputing !

In [0]:
submission['Id']=submission.index

In [45]:
submission.head()

   index  Id     ARSON  ...  VEHICLE THEFT  WARRANTS  WEAPON LAWS
0      0   0  0.008144  ...       0.047566  0.039998     0.013793
1      1   1  0.008145  ...       0.047832  0.039433     0.013793
2      2   2  0.008135  ...       0.048060  0.039953     0.013777
3      3   3  0.008180  ...       0.048139  0.039246     0.013699
4      4   4  0.008151  ...       0.047727  0.039462     0.013804

[5 rows x 41 columns]

         index      Id     ARSON  ...  VEHICLE THEFT  WARRANTS  WEAPON LAWS
0            0       0  0.008144  ...       0.047566  0.039998     0.013793
1            1       1  0.008145  ...       0.047832  0.039433     0.013793
2            2       2  0.008135  ...       0.048060  0.039953     0.013777
3            3       3  0.008180  ...       0.048139  0.039246     0.013699
4            4       4  0.008151  ...       0.047727  0.039462     0.013804
...        ...     ...       ...  ...            ...       ...          ...
730953  730953  730953  0.008038  ...       0.048467  0.039559     0.014314
730954  730954  730954  0.006072  ...       0.049878  0.039139     0.014703
730955  730955  730955  0.008038  ...       0.048467  0.039559     0.014314
730956  730956  730956  0.008150  ...       0.047865  0.039334     0.013803
730957  730957  730957  0.025586  ...       0.025720  0.025669     0.025612

[730958 rows x 41 columns]