<a href="https://colab.research.google.com/github/gandalf1819/SF-Opioid-Crisis/blob/master/SF_drug_xgboost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import sys,os
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline
sns.set()

In [0]:
d_crime = pd.read_csv("/content/gdrive/My Drive/SF dataset/Police_Department_Incident_Reports__Historical_2003_to_May_2018.csv")
d_crime.columns

Index(['IncidntNum', 'Category', 'Descript', 'DayOfWeek', 'Date', 'Time',
       'PdDistrict', 'Resolution', 'Address', 'X', 'Y', 'Location', 'PdId'],
      dtype='object')

In [0]:
np.random.seed(100)
random_d_crime=d_crime.sample(2215024)
train_size=int(0.67 *2215024)
train_df=random_d_crime[:train_size]
test_df=random_d_crime[train_size:]

In [0]:
train_df.columns

Index(['IncidntNum', 'Category', 'Descript', 'DayOfWeek', 'Date', 'Time',
       'PdDistrict', 'Resolution', 'Address', 'X', 'Y', 'Location', 'PdId'],
      dtype='object')

In [0]:
test_df.columns

Index(['IncidntNum', 'Category', 'Descript', 'DayOfWeek', 'Date', 'Time',
       'PdDistrict', 'Resolution', 'Address', 'X', 'Y', 'Location', 'PdId'],
      dtype='object')

In [0]:
test_df['Id'] = test_df.index

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
train_df=train_df.drop(['IncidntNum', 'PdId', 'Location'], axis=1)

In [0]:
train_df.sample(5)

               Category                      Descript  ...           X          Y
1987620  SUSPICIOUS OCC       INVESTIGATIVE DETENTION  ... -122.406022  37.788649
892776   OTHER OFFENSES              RESISTING ARREST  ... -122.407018  37.797823
187188         BURGLARY      BURGLARY, FORCIBLE ENTRY  ... -122.404828  37.789760
24997    OTHER OFFENSES              RESISTING ARREST  ... -122.380820  37.726365
669340    LARCENY/THEFT  GRAND THEFT FROM LOCKED AUTO  ... -122.396648  37.791740

[5 rows x 10 columns]

In [0]:
test_df=test_df.drop(['IncidntNum', 'PdId', 'Location'], axis=1)

In [0]:
test_df.sample(5)

               Category  ...       Id
94105    OTHER OFFENSES  ...    94105
1512870   DRUG/NARCOTIC  ...  1512870
497923   OTHER OFFENSES  ...   497923
188903         BURGLARY  ...   188903
1451444        BURGLARY  ...  1451444

[5 rows x 11 columns]

In [0]:
train_df.columns

Index(['Category', 'Descript', 'DayOfWeek', 'Date', 'Time', 'PdDistrict',
       'Resolution', 'Address', 'X', 'Y'],
      dtype='object')

**Convert 'Date' and 'Time' columns to 'DateTime' columns to identify crimes across different times of the day**

In [0]:
train_df['DateTime'] = train_df.Date + " " + train_df.Time
train_df['DateTime'] = pd.to_datetime(train_df['DateTime'], format='%m/%d/%Y %H:%M')

test_df['DateTime'] = test_df.Date + " " + test_df.Time
test_df['DateTime'] = pd.to_datetime(test_df['DateTime'], format='%m/%d/%Y %H:%M')

In [0]:
train_df = train_df.drop(['Date', 'Time'], axis=1)
test_df = test_df.drop(['Date', 'Time'], axis=1)

Develop a feature **'IsDay'** to identify whether the crime was committed during day or night

In [0]:
train_df['IsDay'] = 0
train_df.loc[ (train_df.DateTime.dt.hour > 6) & (train_df.DateTime.dt.hour < 20), 'IsDay' ] = 1
test_df['IsDay'] = 0
test_df.loc[ (test_df.DateTime.dt.hour > 6) & (test_df.DateTime.dt.hour < 20), 'IsDay' ] = 1

train_df.sample(3)

         Category  ... IsDay
1436649  WARRANTS  ...     1
1508667  WARRANTS  ...     1
1976663   ASSAULT  ...     0

[3 rows x 10 columns]


Create **'Month'**, **'Year'** and **'DayOfWeekInt'** columns


Map 'DayOfWeek' to Integer

In [0]:
days_to_int_dic = {
        'Monday': 1,
        'Tuesday': 2,
        'Wednesday': 3,
        'Thursday': 4,
        'Friday': 5,
        'Saturday': 6,
        'Sunday': 7,
}
train_df['DayOfWeek'] = train_df['DayOfWeek'].map(days_to_int_dic)
test_df ['DayOfWeek'] = test_df ['DayOfWeek'].map(days_to_int_dic)

train_df.DayOfWeek.unique()

array([5, 6, 7, 3, 1, 2, 4])

Create Hour, Month and Year Columns

In [0]:
train_df['Hour'] = train_df.DateTime.dt.hour
train_df['Month'] = train_df.DateTime.dt.month
train_df['Year'] = train_df.DateTime.dt.year
train_df['Year'] = train_df['Year'] - 2000 # The Algorithm doesn't know the difference

test_df['Hour'] = test_df.DateTime.dt.hour
test_df['Month'] = test_df.DateTime.dt.month
test_df['Year'] = test_df.DateTime.dt.year
test_df['Year'] = test_df['Year'] - 2000 # The Algorithm doesn't know the difference

train_df.sample(1)

              Category          Descript  DayOfWeek  ... Hour Month Year
714500  OTHER OFFENSES  PAROLE VIOLATION          5  ...   17     6   12

[1 rows x 13 columns]


Deal with the cyclic characteristic of Months and Days of Week

In [0]:
train_df['HourCos'] = np.cos((train_df['Hour']*2*np.pi)/24 )
train_df['DayOfWeekCos'] = np.cos((train_df['DayOfWeek']*2*np.pi)/7 )
train_df['MonthCos'] = np.cos((train_df['Month']*2*np.pi)/12 )

test_df['HourCos'] = np.cos((test_df['Hour']*2*np.pi)/24 )
test_df['DayOfWeekCos'] = np.cos((test_df['DayOfWeek']*2*np.pi)/7 )
test_df['MonthCos'] = np.cos((test_df['Month']*2*np.pi)/12 )

train_df.sample(1)

             Category  ... MonthCos
751684  DRUG/NARCOTIC  ...      0.5

[1 rows x 16 columns]


Dummy Encoding of 'PdDistrict'

In [0]:
train_df = pd.get_dummies(train_df, columns=['PdDistrict'])
test_df  = pd.get_dummies(test_df,  columns=['PdDistrict'])
train_df.sample(2)

                       Category  ... PdDistrict_TENDERLOIN
1766593  FORGERY/COUNTERFEITING  ...                     0
1796478          SUSPICIOUS OCC  ...                     0

[2 rows x 25 columns]

Label Encoding of **'Category'**

In [0]:
from sklearn.preprocessing import LabelEncoder

cat_le = LabelEncoder()
train_df['CategoryInt'] = pd.Series(cat_le.fit_transform(train_df.Category))
train_df.sample(5)

              Category  ... CategoryInt
1638162   NON-CRIMINAL  ...         NaN
1911474      VANDALISM  ...         NaN
256130   DRUG/NARCOTIC  ...        16.0
1491366       BURGLARY  ...         NaN
2010495  LARCENY/THEFT  ...         NaN

[5 rows x 26 columns]

In [0]:
train_df['InIntersection'] = 1
train_df.loc[train_df.Address.str.contains('Block'), 'InIntersection'] = 0

test_df['InIntersection'] = 1
test_df.loc[test_df.Address.str.contains('Block'), 'InIntersection'] = 0

In [0]:
train_df.sample(10)

               Category  ... InIntersection
122704    DRUG/NARCOTIC  ...              0
1157645   VEHICLE THEFT  ...              0
726120         WARRANTS  ...              0
2118978  OTHER OFFENSES  ...              1
1214220  OTHER OFFENSES  ...              1
1479990   VEHICLE THEFT  ...              1
1738608   LARCENY/THEFT  ...              1
1246293   DRUG/NARCOTIC  ...              0
2062811  OTHER OFFENSES  ...              0
1293057   LARCENY/THEFT  ...              0

[10 rows x 27 columns]

### **Feature Selection**

In [0]:
train_df.columns

Index(['Category', 'Descript', 'DayOfWeek', 'Resolution', 'Address', 'X', 'Y',
       'DateTime', 'IsDay', 'Hour', 'Month', 'Year', 'HourCos', 'DayOfWeekCos',
       'MonthCos', 'PdDistrict_BAYVIEW', 'PdDistrict_CENTRAL',
       'PdDistrict_INGLESIDE', 'PdDistrict_MISSION', 'PdDistrict_NORTHERN',
       'PdDistrict_PARK', 'PdDistrict_RICHMOND', 'PdDistrict_SOUTHERN',
       'PdDistrict_TARAVAL', 'PdDistrict_TENDERLOIN', 'CategoryInt',
       'InIntersection'],
      dtype='object')

In [0]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from operator import itemgetter
import xgboost as xgb
import random
import time
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import average_precision_score, mean_squared_error
import matplotlib.pyplot as plt
from numpy import genfromtxt
import seaborn as sns
from sklearn import preprocessing
from sklearn.metrics import roc_curve, auc,recall_score,precision_score
import datetime as dt

In [0]:
feature_cols = ['X', 'Y', 'IsDay', 'DayOfWeek', 'Month', 'Hour', 'Year', 'InIntersection',
                'PdDistrict_BAYVIEW', 'PdDistrict_CENTRAL', 'PdDistrict_INGLESIDE',
                'PdDistrict_MISSION', 'PdDistrict_NORTHERN', 'PdDistrict_PARK',
                'PdDistrict_RICHMOND', 'PdDistrict_SOUTHERN', 'PdDistrict_TARAVAL', 'PdDistrict_TENDERLOIN']
target_col = 'CategoryInt'

train_x = train_df[feature_cols]
train_y = train_df[target_col]

test_ids = test_df['Id']
test_x = test_df[feature_cols]

In [0]:
# Split the train and test data
Xt, Xv, yt, yv = train_test_split(train_x, train_y, test_size = 0.25, random_state = 0)
dt = xgb.DMatrix(Xt.as_matrix(),label=yt.as_matrix())
dv = xgb.DMatrix(Xv.as_matrix(),label=yv.as_matrix())

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
#Build the model
params = {
    "eta": 0.3,
    "max_depth": 4,
    "objective": "multi:softprob",
    "silent": 1,
    'num_class': 39
}
model = xgb.train(params, dt, 10)
# m = xgb.train(params, train_xgb, 10)

In [0]:
# Fill 'NaN' values with mean of that column

from sklearn.metrics import confusion_matrix
yv_new = yv.fillna(yv.mean())
print("yv count: ", yv_new.size)
yv_new = yv_new.round()
yv_new.head()

yv count:  371017

737139     35.0
545623      7.0
746277     16.0
513487     21.0
2114811    19.0
Name: CategoryInt, dtype: float64

In [0]:
y_pred = model.predict(dv)

print("y_pred count: ", y_pred.size)

y_pred count:  371017

In [0]:
import numpy as np
from sklearn.metrics import average_precision_score, mean_squared_error, accuracy_score

# Evaluate predictions
accuracy = accuracy_score(yv, y_pred)
print("Accuracy for XGBoost: %.2f%%" % (accuracy * 100.0))

Accuracy for XGBoost: 66.67%

In [0]:
# Computer precision score across multiple classes
from sklearn.metrics import precision_score

precision = precision_score(yv, y_pred, average='micro')
print("Precision for XGBoost: %.2f%%" % precision)

Precision for XGBoost: 0.60%

In [0]:
# Compute recall over multiple classes
from sklearn.metrics import recall_score

recall = recall_score(yv, y_pred, average='micro')
print("Recall for XGBoost: %.2f%%" % recall)

Recall for XGBoost: 0.68%

In [0]:
# Compute f1 score across multiple classes
from sklearn.metrics import f1_score

f1 = f1_score(yv, y_pred, average='micro')
print("F1 score for XGboost: %.2f%%" % f1)

F1 score for XGboost: 0.65%

In [0]:
# Computer Root Mean Squared Error
rmse = np.sqrt(mean_squared_error(yv, y_pred))
print("RMSE: %f" % (rmse))

RMSE: 10.347302

In [0]:
import xgboost as xgb

print('Performing Cross-validation : ')
cv = xgb.cv(params, dt, nfold=3, early_stopping_rounds=10, metrics='mlogloss', verbose_eval=True)
cv.head()

In [0]:
train_x.sample(1)

#### **XGBOOST Training (Cross-Validation)**

Import XGBoost and create the DMatrices

Perform Cross-Validation

In [0]:
params = {
    'max_depth': 4,  # the maximum depth of each tree
    'eta': 0.3,  # the training step for each iteration
    'silent': 1,  # logging mode - quiet
    'objective': 'multi:softprob',  # error evaluation for multiclass training
    'num_class': 39,
}
num_boost_round = 500
early_stopping_rounds = 20


Fit the model and make the predictions

In [0]:
SUBMIT = not CROSS_VAL
if SUBMIT:
    print('Fitting Model : ')
    # Model Training
    m = xgb.train(params, train_xgb, 10)
    
    # Model Validation
    res = m.predict(test_xgb)

    # Compute RMSE
    # rmse = np.sqrt(mean_squared_error(test_xgb, res))
    # print("RMSE: %f" % (rmse))

    # Precision-Recall Curve
    # score = average_precision_score(train_y_cleaned, res)
    # print('Area under the precision-recall curve: {:.6f}'.format(score))

    # Precision Score
    res_round = res.round()
    # pre_score = precision_score(train_y_cleaned, res_round)
    # print('Precision score: {:.6f}'.format(pre_score))

    # Recall Score
    rec_score = recall_score(train_y_cleaned, res_round)
    print('Recall score: {:.6f}'.format(rec_score))
    
    # evaluate predictions
    # accuracy = accuracy_score(test_x, res)
    # print("Accuracy: %.2f%%" % (accuracy * 100.0))

    cols = ['Id'] + cat_le.classes_
    submission = pd.DataFrame(res, columns=cat_le.classes_)
    submission.insert(0, 'Id', test_ids)
    submission.to_csv('submission.csv', index=False)
    print('Done Outputing !')
    submission.head()
else:
    print('NOT SUBMITING')

In [0]:
# Making the Confusion Matrix
cm = confusion_matrix(test_x, y_pred))
print(colored('The Confusion Matrix is: ', 'red'),'\n', cm)
# Calculate the accuracy on test set
predict_accuracy_on_test_set = (cm[0,0] + cm[1,1])/(cm[0,0] + cm[1,1]+cm[1,0] + cm[0,1])

In [0]:
# Compute micro-average ROC curve and ROC area
fpr, tpr, _ = roc_curve(train_y_cleaned.values, res)
roc_auc = auc(fpr, tpr)

# Plot the ROC curve
plt.figure()
lw = 2
plt.plot(fpr, tpr, color='darkorange',
          lw=lw, label='ROC curve (area = %0.2f)' % roc_auc)
plt.plot([0, 1], [0, 1], color='navy', lw=lw, linestyle='--')
plt.xlim([-0.02, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('ROC curve')
plt.legend(loc="lower right")
plt.show()

In [0]:
submission['Id']=submission.index